@import '../../lib/chevron'

.chevron1
  chevron()

.chevron2
  chevron: right

.chevron3
  color: #f00
  chevron: up 50px

.chevron4
  color: #0f0

  &:after
    chevron: left 2em
    content: ''

.chevron5
  color: #222
  chevron: down 20% #00f 4px
