@import 'helpful-ui/deep-merge'

$a = {
  foo: false
  bar: {
    baz: #ccc
    bah: solid 1px #f00
    bak: {
      bag: true
      ban: 40em
    }
  }
}

$b = {
  foo: true
  bar: {
    baz: #eee
    bak: {
      bag: false
    }
  }
}

$c = deepMerge($a, $b)

.deep-merge
  {$c}
