@import 'helpful-ui/units'

.units-em1
  font-size em(16px)

.units-em2
  font-size em(32px, 16px)

.units-em3
  font-size em(32px, 32px)

.units-em4
  font-size em(125%)

.units-em5
  font-size em(1rem, 2rem)

.units-rem1
  font-size rem(16px)

.units-rem2
  font-size rem(32px, 16px)

.units-rem3
  font-size rem(32px, 32px)

.units-rem4
  font-size rem(125%)

.units-rem5
  font-size rem(1em, 2em)

.units-px1
  font-size px(50px)

.units-px2
  font-size px(200%)

.units-px3
  font-size px(100%, 60px)

.units-strip-zeros
  border: strip-zeros(solid 0px red 3px)
